* {
    margin: 0;
    padding: 0;
  }

  /* body {
    overflow: hidden;
  } */

#container {
    display: grid;
    grid-template-columns:minmax(1fr, 1fr) 4fr;
    grid-template-rows: minmax(0, 250px) 4fr;
}

#dashboardLeft {
    display: grid;
    flex-direction: column;
    background-color: rgb(77, 188, 188);
    grid-area: 1/1/3/2;
    color:white;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: minmax(0, 250px) 1fr;
    /* height: 100%;
    overflow: hidden;
    position: relative; */

}


#dashboardTxt {
    grid-area: 1/1/3/3;
    margin-top: 45px;
    margin-left: 40px;
}

/* #dashImages {
    margin-left: 40px;
}
#firstImg {
    margin-top:65px;
}

#secondImg{
    margin-top: 65px;
}

#thirdImg{
    margin-top: 73px;
}

#fourthImg{
    margin-top: 65px;
}
#fifthImg{
    margin-top: 68px;
}

#sixthImg{
    margin-top: 65px;
}

#seventhImg{
    margin-top: 120px;
}
#eigthImg{
    margin-top: 70px;
}
#ninthImg{
    margin-top: 65px;
}
#dashImages {
    grid-area: 2/1;
    display: grid;
    grid-template-rows: repeat(9, 0.05fr);
    align-items: end;
} */

#dashTxt {
    grid-area: 2/2;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(75px, 0.05fr));
}

#dashboardLeft button {
    background: none;
    border: none;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    border-radius: 20px;
    
}

#dashboardLeft button:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#homeBtn {
    
    min-height: 75px;
}

#settingBtn {
    min-height: 75px;
}

#headerTop {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 0.1fr 2.9fr 0.9fr 0.1fr;
    box-shadow: 0 10px 10px -10px gray;
    position: sticky;
}
.searchBar{
    grid-area:1/2/1/3;
    width: 90%;
    border-radius: 20px;
    height: 50px;
    border:none;
    background-color: rgb(224, 223, 223);
    display: flex;
    align-self: center;
    justify-self: center;
}

#welcomeTag {
    grid-area:2/2/3/3;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#nameTag {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    grid-area:1/3;
}

#headerButtons {
    gap: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area:2/3;
}

#headerButtons button {
    background-color: rgb(77, 188, 188);
    color: white;
}
#headerButtons button:hover {
    /* box-shadow: rgba(199, 148, 148, 0.16) 0px 10px 10px, rgb(106, 106, 106) 0px 0px 10px 3px; */
    transform: scale(1.1);
    transition: 100ms ease-in-out;
}

#headerButtons button {
    border-radius: 25px;
    border: none;
    padding: 20px;
    width: 150px;
    font-size: 1em;
    font-weight: bold;
}

#midContainer {
    background-color: rgb(223, 222, 222);
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 3.3fr 0.7fr;
    grid-template-rows: minmax(100px 0.5fr) 4fr;
}

#mainHead1 {
    grid-area: 1/1/1/3;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: end;
    height: 100px;
}
#mainHead2 {
    grid-area: 1/2/1/3;
    display: flex;
    align-items: end;
    margin-left: 15px;
    margin-bottom: 20px;
    height: 100px;
}
#mainLeft p{
    font-size: 1.5em;
}

#mainLeft {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 40px;
    margin-right:15px;
    margin-left: 20px;
    margin-bottom: 100px;
}
/* #mainHead1, #mainHead2 {
    margin: 0px;
    text-align: start;
    display: flex;
    align-items: end;
} */
#mainLeft div {
    background-color: rgb(255, 255, 255);
    height: 295px;
    border-radius: 20px;
    border-left: 15px solid salmon;
}
#mainLeft div:hover{
    transform: scale(1.1);
    transition: 100ms ease-in-out;
}
.mainTxtd, #announce, #trending {
    box-sizing: border-box; /* prevents padding from adding width to the div */
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


#mainRight {
    display: grid;
    grid-template-rows:1fr 0.16fr 1fr;
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 100px;
}

#announce {
    display: grid;
}
#trending {
    display: grid;
}

#mainHead3 {
    margin-top: 50px;
    margin-bottom: 20px;
}

#mainRight div {
    background-color: white;
    border-radius: 20px;
}

#announce p{
    font-size: 1.2em;
    margin: auto;
}

#trending p{
    font-size: 1.2em;
    
}